
.wrapper {
  max-height: 500px;
  max-width: 850px;
  right: 250px;
  top: 134px;
  margin-right: auto;
  position: absolute;
}

.container {
  border: 1px solid black;
  height: 500px;
  
}
.span1 {
  background-color: #0e374e;
  color: rgba(255, 255, 255, 0.788);
  display: inline-flex;
  padding: 15px 15px;
  font-weight: bold;
  align-items: flex-end;
  align-self: flex-end;
  
}
.span1>.material-symbols-outlined {
  display: flex;
  align-items: center;
  align-content: center;
  align-self: center;
  
}